.single-container
  %header.login-header
    %h1
      =link_to root_path, class: "mercari-home" do
        = image_tag "logo.svg", class: 'images', alt: "mercari"
    %nav.progress-bar.signup-bar
      %ol.clearfix
        %li.active
          会員情報
          .progress-status-top
        %li
          電話番号認証
          .progress-status
        %li
          住所入力
          .progress-status
        %li
          支払い方法
          .progress-status
        %li
          完了
          .progress-status
  %main.single-main
    .m-single-container
      .l-single-title 会員情報入力
      .registration-form-inner
      = form_for(resource, as: resource_name, url: signup_registration_path) do |f|
        = devise_error_messages!
        .s-single-container
          .form-group__input
            = f.label :ニックネーム
            %span 必須
            = f.text_field :nickname, autofocus: true, placeholder: "例）メルカリ太郎", class: "input-default"
          .form-group__input
            = f.label :メールアドレス
            %span 必須
            = f.email_field :email, placeholder: "PC・携帯どちらでも可", class: "input-default"
          .form-group__input
            = f.label :パスワード
            %span 必須
            = f.password_field :password, placeholder: "6文字以上", autocomplete: "new-password", class: "input-default"
          .form-group__input
            = f.label :"パスワード(確認)"
            %span 必須
            = f.password_field :password_confirmation, placeholder: "6文字以上", autocomplete: "new-password", class: "input-default"
            = f.submit :次へ進む, class: "button next-submit btn-default"
= render 'shared/login_footer'
