= render 'shared/login_header'
%main.single-main
  .login-panel
    .login-no-account
      %p アカウントをお持ちでない方はこちら
      = link_to "新規会員登録", new_user_registration_path, class: "signup-btn"
    .login-form-inner
      %button#facebook-login.btn-default.btn-sns__facebook
        .loginbutton.fab.fa-facebook-square
        Facebookでログイン
      %button#google-login.btn-default.btn-sns__google
        .loginbutton.fab.fa-google-plus-g
        Googleでログイン
    = form_for(resource, as: resource_name, url: new_user_session_path) do |f|
      .login-form-inner
        .form-group
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "input-default"
        .form-group
          = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "input-default"
        .form-group
          .g-recaptcha{"data-sitekey": "6LeK9HkUAAAAAL8mLfKNdK_vo7oKQN0joY0w_74e"}
          = f.submit "ログイン", class: "button login-submit btn-default"
          %input{ name: "login_callback", type: "hidden", value: "https://www.mercari.com/jp/"}/
          %input{ name: "__csrf_value", type: "hidden"}/
          %a{ href: "https://www.mercari.com/jp/password/reset/start/"} パスワードをお忘れの方
  / 優先順位低、別タスクのため仮置き
  / %form#login_form_facebook{action: "https://www.mercari.com/jp/login/", method: "POST", novalidate: "novalidate"}
  / %form#login_form_google{action: "https://www.mercari.com/jp/login/", method: "POST", novalidate: "novalidate"}
= render 'shared/login_footer'