.pickup-contents
  %h2.pickup-contents__title
    ピックアップカテゴリー
  %section.items-contents.clearfix
    %h3.items-contents__title
      %a
        レディース
    .items-box-content.clearfix
      .items-box.one
        %a.detail-page
          = image_tag("https://tk.ismcdn.jp/mwimgs/d/9/960x680/img_d9edba1a1285702a726b8fd82cad1676351172.jpg", class: "detail-page__img")
          .detail-page__body
            %h3.item-name
              日本でたった6台､特注ポルシェ911
            .item-price.clearfix
              ¥ 780
            .tax
              (税込)
      .items-box.two
        %a.detail-page
          = image_tag("https://www.ginzatanaka.co.jp/img/jewelry/diamond/photo00.jpg", class: "detail-page__img")
          .detail-page__body
            %h3.item-name
              GINZA TANAKAのダイヤモンド
            .item-price
              ¥ 1,280
            .tax
              (税込)
      .items-box.three
        %a.detail-page
          = image_tag("http://gold.mmc.co.jp/primer/14.jpg", class: "detail-page__img")
          .detail-page__body
            %h3.item-name
              純金積立
            .item-price
              ¥ 1,333
            .tax
              (税込)
      .items-box.four
        %a.detail-page
          = image_tag("https://rollinn.net/wp-content/uploads/2017/05/private-jet04-830x460.png", class: "detail-page__img")
          .detail-page__body
            %h3.item-name
              プライベートジェット
            .item-price
              ¥ 1,500
            .tax
              (税込)
          %a.showall{href: ""}全ての商品を見る
.pickup-contents
  %h2.pickup-contents__title
    ピックアップブランド
  %section.items-contents.clearfix
    %h3.items-contents__title
      %a
        シャネル
    .items-box-content.clearfix
      .items-box.one
        %a.detail-page
          = image_tag("https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m14231170270_1.jpg?1541932821", class: "detail-page__img")
          .detail-page__body
            %h3.item-name
              CHANELアイシャドウ
            .item-price.clearfix
              ¥ 2,700
            .tax
              (税込)
      .items-box.two
        %a.detail-page
          = image_tag("https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m62952971291_1.jpg?1541932797", class: "detail-page__img")
          .detail-page__body
            %h3.item-name
              CHANEL リップ
            .item-price
              ¥ 2,000
            .tax
              (税込)
      .items-box.three
        %a.detail-page
          = image_tag("https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m31879339894_1.jpg?1541929449", class: "detail-page__img")
          .detail-page__body
            %h3.item-name
              シャネルカードケース
            .item-price
              ¥ 16,000
            .tax
              (税込)
      .items-box.four
        %a.detail-page
          = image_tag("https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m86994739079_1.jpg?1536886749", class: "detail-page__img")
          .detail-page__body
            %h3.item-name
              CHANEL バッグ
            .item-price
              ¥ 12,000
            .tax
              (税込)
          %a.showall{href: ""}全ての商品を見る

