= render 'shared/login_header'

-# %body
-#   %input#myfile{:type => "file"}/
-#   -# %br/
-#   -# %img#img1{:style => "width:300px;height:300px;"}/

.single-main
  .sell-container
    .sell-container__inner
      = form_for (@item), html:{id: 'sell-form'} do |f|
        .sell-container__inner__head
          %h2
            商品の情報を入力
        .sell-upload-box
          = f.label :image, "出品画像", {class: 'form-label'}
          %span.form-require-sell
            必須
          %p
            最大4枚までアップロードできます

            .sell-upload-box
              .sell-dropbox-container
                .sell-upload-items
                  %ul
                    %li.sell-upload-drop-box#preview1
                      = f.file_field :image_url, class: "sell-upload-drop-file", type: :file
                      %img#img1{:style => "width:138px;height:138px;", class: "img1",}
                        %div#img-edit
                          %a{:href => ""} 編集
                        %div#img-delite
                          %a 削除
                    %li.sell-upload-drop-box#preview2
                      = f.file_field :image_url, class: "sell-upload-drop-file", type: :file
                      %img#img2{:style => "width:138px;height:138px;", class: "img2",}
                        %div#img2-edit
                          %a{:href => ""} 編集
                        %div#img2-delite
                          %a 削除
                    %li.sell-upload-drop-box#preview3
                      = f.file_field :image_url, class: "sell-upload-drop-file", type: :file
                      %img#img3{:style => "width:138px;height:138px;", class: "img3",}
                        %div#img3-edit
                          %a{:href => ""} 編集
                        %div#img3-delite
                          %a 削除
                    %li.sell-upload-drop-box#preview4
                      = f.file_field :image_url, class: "sell-upload-drop-file", style: "none", type: :file
                      %img#img4{:style => "width:138px;height:138px;", class: "img4",}
                        %div#img4-edit
                          %a{:href => ""} 編集
                        %div#img4-delite
                          %a 削除


          -# .sell-dropbox-container
          -#   .sell-upload-items
          -#   .sell-upload-drop-box
          -#     %label.upload-img
          -#       = f.file_field :image_url, class: "sell-upload-drop-file", style: "none"
          -#     %pre.visible-pc
          -#       ドラッグアンドドロップ
          -#       またはクリックしてファイルをアップロード



        .sell-content
          .form-group-first#dropArea
            = f.label :name, "商品名", {class: 'form-label'}
            %span.form-require-sell
              必須
            %br
            = f.text_field :name, placeholder: "商品名（必須 40文字まで)", class: "input-default-exhibit"
          .form-group-sell
            = f.label :description, "商品の説明", {class: 'form-label'}
            %span.form-require-sell
              必須
            %br
            = f.text_area :description, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライドグレーで傷はありません。あわせやすいのでおすすめです。", class: "input-default", size: "100"





        .sell-content
          %H3.sell-sub-head
            商品の詳細
          .sell-form-box
            .form-group-first
              = f.label :categoru_l, "カテゴリー", {class: 'form-label'}
              %span.form-require-sell 必須
              .select-wrap
                = f.collection_select :category_l_id, CategoryL.all, :id, :name,{ prompt: '----'}, {class: "select-default-sell", id: "category1"}
            .sell-form-box.hidden1
              .select-wrap1
                = render partial: 'select_category_m', locals: {category_l_id: CategoryL.first.id}

            .sell-form-box.hidden2
              .select-wrap2
                = render partial: 'select_category_s', locals: {category_m_id: CategoryM.first.id}



            .sell-form-box.hidden3
              .select-wrap3
                = f.select :size, [["----", "----"],["XS", "XS"], ["S", "S"],["M", "M"],["L", "L"],["XL", "XL"]],{},{class: "select-default-sell", id: "size"}




            .form-group-sell
              = f.label :condition, "商品の状態", {class: 'form-label'}
              %span.form-require-sell
                必須
              .select-wrap
                %select.select-default
                  %option{value: "0"} -----
                  %option{value: "1"} 新品、未使用
                  %option{value: "2"} 未使用に近い
                  %option{value: "3"} 目立った傷や汚れはなし
                  %option{value: "4"} やや傷や汚れあり
                  %option{value: "5"} 傷や汚れあり
                  %option{value: "6"} 全体的に状態が悪い
        .sell-content
          %H3.sell-sub-head
            配送について
          .sell-form-box
            .form-group-first
              = f.label :shipping_fee, "配送料の負担", {class: 'form-label'}
              %span.form-require-sell
                必須
              .select-wrap
                %select.select-default
                  %option{value: "0"} -----
                  %option{value: "1"} 着払い(購入者負担)
                  %option{value: "2"} 送料込み(出品者負担)
          .sell-form-box
            .form-group-sell
              = f.label :arrived_date, "発送までの日数", {class: 'form-label'}
              %span.form-require-sell
                必須
              .select-wrap
                %select.select-default
                  %option{value: "0"} -----
                  %option{value: "1"} 1~2日で発送
                  %option{value: "2"} 2~3日で発送
                  %option{value: "3"} 4~7日で発送
        .sell-content
          %H3.sell-sub-head
            販売価格(300〜9,999,999)
          .sell-form-box
            %ul.l-left
              %li.form-group-first
                = f.label :price, "価格", {class: 'form-label'}
                %span.form-require-sell
                  必須
            .input-price
              ¥
              = f.text_field :price, class: "input-price-area", id: "amount", placeholder: "例)300"
          .commision
            .l-left
              販売手数料 (10%)
            .l-right#commission
              ー
          .profits
            .l-left
              販売利益
            .l-right#sales-profit
              ー
        .sell-content
          %p
            禁止されている出品、行為を必ずご確認ください。</br>
            またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
          .form-group-sell
            = f.submit "投稿する", class: "btn btn__red"
            = link_to "もどる", root_path, class: "btn btn__gray"






= render 'shared/login_footer'
